<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <title>bookFace</title>

        <!-- bootstrap stuff -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    </head>
    <body>
        <div class ='header'><h1>Book Face</h1></div>

            <div id="video-feed-container">
                <!-- Video feed container -->
                <img id="bg" src="{{ url_for('video_feed') }}">
            </div>
                <!-- Container for all faces -->
            <div id="face-gallery-container">
                <div id="face-0" class="face-container">
                    <img src="/face/0" class="face">
                </div>
                <div id="face-1" class="face-container">
                    <img src="/face/1" class="face">
                </div>
                <div id="face-2" class="face-container">
                    <img src="/face/2" class="face">
                </div>
                <div id="face-3" class="face-container">
                    <img src="/face/3" class="face">
                </div>
            </div>


        <script type="text/javascript">
            (function () {

                refreshFaces = function() {
                    console.log('refreshing faces');
                    const faceContainers = document.getElementById('face-gallery-container').childNodes;
                    for (var i = faceContainers.length - 1; i >= 0; i--) {
                        const container = faceContainers[i];
                        if (faceContainers[i].className === 'face-container') {
                            const containerChildren = container.childNodes;
                            for (var j = containerChildren.length - 1; j >= 0; j--) {
                                if (containerChildren[j].className === 'face') {
                                    const face = containerChildren[j];
                                    console.log(face);
                                    const source = face.src;
                                    face.src = source.split('?')[0] + '?lastmod=' + Math.random();
                                }
                            }
                        }
                    }
                };
                setInterval(refreshFaces, 2000);
            }) ();


        </script>
  </body>
</html>